name: Run OpenAPI linter

on:  
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: openapi-lint 
        uses: mhiew/redoc-lint-github-action@v3
        with:
          args: 'src/*.yml'
